@forward "front-page/0-all"

.navbar
    display: flex
    justify-content: space-between
    align-items: center
    background-image: url(https://tatouagenkit.com/cdn/shop/articles/IMG_3895.jpg?v=1703605883&width=1000)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 25rem
    

    &__title
        font-size: 5rem
        color: white

    
    &__links
        display: flex
       
      
      
.presentation
    background-color: rgb(73,73,73 )
    color: white
    height: 25rem
    text-align: center
    
    &__textpres
       

        
.galerie
    background-color: black
    
    &__images 
        display: grid